__pycache__/
readme.md
utils/init-conda
utils/.init-conda.swp
utils/__pycache__/
best_model.pt
resutls/best_model.pt
results/*
image_segmentation (copy).ipynb
image_segmentation2.ipynb
image_segmentation copy.ipynb