__pycache__/
readme.md
utils/init-conda
utils/.init-conda.swp
utils/__pycache__/
best_model.pt
resutls/best_model.pt
results/*
image_segmentation (copy).ipynb
image_segmentation copy.ipynb
temp.ipynb
inference_results/
**/*.png
**/*.gz
preds/*
new_3d_dataset/*
new_3d_dataset.zip